name: app
description: Dating app

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.13.1+1

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: '>=3.35.0'

workspace:
  - packages/afrodite_frontend
  - packages/api_client
  - packages/database
  - packages/database_account_background
  - packages/database_account_foreground
  - packages/database_common_background
  - packages/database_common_foreground
  - packages/database_converter
  - packages/database_model
  - packages/database_provider
  - packages/database_provider_native
  - packages/database_provider_web
  - packages/database_utils
  - packages/encryption
  - packages/encryption_common
  - packages/encryption_native
  - packages/encryption_web
  - packages/native_utils
  - packages/native_utils_common
  - packages/native_utils_ffi
  - packages/native_utils_web
  - packages/utils

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  collection: ^1.18.0

  # State management
  flutter_bloc: ^9.1.1
  bloc_concurrency: ^0.3.0
  provider: ^6.1.5

  rxdart: ^0.28.0

  camera: ^0.11.0+2
  image_picker: ^1.1.2

  google_sign_in: ^7.1.0
  google_sign_in_web: ^1.0.0
  sign_in_with_apple: ^7.0.1

  # API client for server API
  openapi:
    path: "packages/api_client"

  database:
    path: "packages/database"

  database_utils:
    path: "packages/database_utils"

  database_provider:
    path: "packages/database_provider"

  native_utils:
    path: "packages/native_utils"

  encryption:
    path: "packages/encryption"

  utils:
    path: "packages/utils"

  afrodite_frontend:
    path: "packages/afrodite_frontend"

  http: ^1.2.2

  freezed_annotation: ^3.1.0

  web_socket: ^1.0.1
  async: ^2.11.0
  flutter_localizations:
    sdk: flutter
  intl: any

  flutter_cache_manager: ^3.4.1
  logging: ^1.2.0

  google_fonts: ^6.2.1

  image: ^4.0.17
  path_provider: ^2.1.1

  infinite_scroll_pagination: ^5.1.1

  flutter_map: ^8.2.1
  latlong2: ^0.9.1

  url_launcher: ^6.2.5
  android_intent_plus: ^5.3.0

  fl_chart: ^1.0.0
  flutter_markdown: ^0.7.7+1

  flutter_chat_core: ^2.8.0
  flutter_chat_ui: ^2.9.1

  flutter_local_notifications: ^19.3.0
  device_info_plus: ^11.5.0
  package_info_plus: ^8.1.3
  shared_preferences: ^2.5.3

  path: ^1.9.0
  drift: ^2.26.0

  meta: ^1.11.0

  scrollable_positioned_list: ^0.3.8

  web: ^1.1.1

  crypto: ^3.0.6
  uuid: ^4.4.2

  # Code reviewed 2024-05-04
  app_settings:
    git:
      url: https://github.com/jutuon/app_settings.git
      ref: e1d39e4ea052e9dd9a47fbab49737846d9b43264

  # If version is changed, update also Makefile JS file versions
  native_push:
    git:
      url: https://github.com/jutuon/native_push.git
      ref: 8a2cea6f705b3ecb6b979dd98cdb2dec0628ef8c

  google_api_availability: ^5.0.0

  # Code reviewed 2025-08-14
  flutter_file_saver: 0.9.0

dependency_overrides:
  # Replace flutter_secure_storage_web with empty version to fix compiling
  # to Wasm.
  flutter_secure_storage_web:
    path: "packages/flutter_secure_storage_web"

  # Code reviewed 2025-08-14
  flutter_file_manager_android: 2.1.0
  flutter_file_manager_macos: 2.1.0
  flutter_file_manager_platform_interface: 2.1.0
  flutter_file_manager_web: 2.2.0

  # Version 2.1.0 with iOS min version 13 and temporary
  # file moving.
  flutter_file_manager_ios:
    git:
      url: https://github.com/jutuon/flutter_file_saver.git
      ref: c62c5069c4debd4b36688133a248c662af03870c
      path: packages/flutter_file_manager_ios

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0
  build_runner: ^2.4.8
  flutter_launcher_icons: ^0.13.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

  assets:
    - assets/app-icon.png
    - assets/sign_in_with_google_android_dark_rd_SI@4x.png
    - assets/sign_in_with_google_android_light_rd_SI@4x.png
    - assets/sign_in_with_google_ios_dark_rd_SI@4x.png
    - assets/sign_in_with_google_ios_light_rd_SI@4x.png
    - assets/isrg-root-x1-and-x2.pem

  # For intl translations
  generate: true

flutter_launcher_icons:
  image_path: "assets/app-icon.png"
  android: true
  ios: true
  remove_alpha_ios: true
