[package]
name = "rust_utils"
edition = "2024"
publish = false

[lib]
name = "rust_utils"
path = "src/lib.rs"

# Android building uses cdylib instead of staticlib
# because that creates lower APK file size.
# iOS building overrides this to staticlib.
# Wasm building requires cdylib.
crate-type = ["cdylib"]

[profile.dev]
panic = "abort"
opt-level = 3

[profile.release]
panic = "abort"

[dependencies]
aes-gcm = "0.10.3"
pgp = { version = "0.18.0", default-features = false }
smallvec = "1.13.2"
rand = "0.8.5"
wasm-bindgen = "0.2.101"

[target.wasm32-unknown-unknown.dependencies]
pgp = { version = "0.18.0", default-features = false, features = ["wasm"] }
